:root{
    /*colours*/
    --color-text: #FDE7C2;
    --color-primary: #576cbc;
    --color-secondary: #EBAC348F;
    --color-dark:#0b2447;
    --color-bg: #3B0014;
    --color-shadow: #CE92878A;
    
    /* fonts */
    --font-robot: "Roboto";
}